<%- include('includes/head.ejs') %>

    <br>
    <div class="container">
    <h1 class="title">Agrega un vehículo</h1>
    <form action="/agregar" method="POST">
        <div class="field">
            <label class="label" for="nombre">Nombre</label>
            <div class="control">
                <input name="nombre" id="nombre" type="text" class="input" style="width: 90%;">
            </div>
        </div>
        <div class="field">
            <label class="label" for="imagen">Imagen</label>
            <div class="control">
                <input name="imagen" id="imagen" type="text" class="input" style="width: 90%;">
            </div>
        </div>
        <div class="field">
            <label class="label" for="texto">Descripción</label>
            <div class="control">
                <textarea name="texto" id="texto" class="textarea" style="width: 90%;" rows="5"></textarea>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="button is-success" type="submit" value="Agregar">
            </div>
        </div>
    </form>
</div>
<br>

<%- include('includes/foot.ejs') %>