<%- include('includes/head.ejs') %>

<br>
<div class="container">
    <h1 class="title">Preguntas de los laboratorios</h1>
    <div class="content">
        <h3>¿Qué otros templating engines existen para node?</h3>
        <ul>
            <li>Existen otros templating engines como pug, handlebars, eta, blade y muchos más.</li>
        </ul>
    </div>
</div>
<br>

<%- include('includes/foot.ejs') %>