<%- include('includes/head.ejs', {
        username: username,
        permisos: permisos
}) %>

<br>
<div class="container">
<h1 class="title">Acerca de LX GARAGE</h1>
        <div class="content"><p>LX GARAGE es un sitio web dise침ado para mostrar una colecci칩n de coches.
        Desarrollado por Alexys Reyna, un estudiante del Tecnol칩gico de Monterrey.
        Este sitio web utiliza Node.js para el backend y Bulma CSS para el dise침o.</p>
        <h2>Patrocinadores</h2>
        <img src="https://cdn-3.expansion.mx/dims4/default/1fac795/2147483647/resize/1280x/quality/90/?url=https%3A%2F%2Fcherry-brightspot.s3.amazonaws.com%2Fmedia%2F2014%2F08%2F15%2Ftec-de-monterrey.jpg" width="112" height="28">
        <img src="https://midu.dev/images/tags/node.png" width="112" height="28">
        <img src="https://miro.medium.com/v2/1*-rRVJ7pa3DUFN4Bul4e_CA.png" width="112" height="28">
        </div>
</div>
<br>

<%- include('includes/foot.ejs') %>