<%- include('includes/head.ejs', {
    username: username,
    permisos: permisos
}) %>

<br>
<div class="container">
    <h1 class="title">¡Descubre la Inspiradora Historia de LX GARAGE!</h1>
    <div class="content">
        <h2>¡Bienvenido!</h2>
        <p>¡Bienvenido a LX GARAGE, el destino definitivo para los amantes de los automóviles de alto rendimiento y el lujo sobre ruedas! Sumérgete en nuestra fascinante colección de vehículos que desafían los límites de la ingeniería y la elegancia automotriz.</p>
        <p>Descubre los últimos modelos, conoce los secretos detrás de los diseños más emblemáticos y embárcate en un viaje lleno de emociones a través de la historia del automóvil.</p>
        <h2>¡Únete a Nuestra Comunidad!</h2>
        <p>En LX GARAGE, no solo encontrarás coches excepcionales, sino también una comunidad apasionada de entusiastas automotrices que comparten tu amor por la velocidad, la innovación y el estilo.</p>
        <p>Únete a nosotros en LX GARAGE y sé parte de una comunidad vibrante de entusiastas automotrices que comparten tu amor por la velocidad, la innovación y el estilo. Juntos, continuamos la legendaria historia de Santiago y su visión de crear un mundo donde los coches son más que simples máquinas: son obras de arte sobre ruedas.</p>
        <h2>Figuras importantes que apoyan nuestra iniciativa</h2>
        <div class="columns">
            <div class="column">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Cristiano_Ronaldo_playing_for_Al_Nassr_FC_against_Persepolis%2C_September_2023_%28cropped%29.jpg" width="200" height="28" alt="CR7">
            </div>
            <div class="column">
                <img src="https://www.elpais.com.co/resizer/3IcxihEqrMKYdBgUQVSTmcoiWc0=/1280x720/smart/filters:format(jpg):quality(80)/cloudfront-us-east-1.images.arcpublishing.com/semana/KPT3SXR5VBCZHITCTMVVUD7F5Q.jpg" width="200" height="280" alt="Bukele">
            </div>
            <div class="column">
                <img src="https://imagenes.elpais.com/resizer/HcgLMnq5VzePQhwS76XUglrCUqk=/1960x1470/filters:focal(961x908:971x918)/cloudfront-eu-central-1.images.arcpublishing.com/prisa/YD2MDU4UESD2QIKEJV6CFF27KY.jpg" width="200" height="28" alt="Balotelli">
            </div>
        </div>
    </div>
</div>
<br>

<%- include('includes/foot.ejs') %>